* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: PingFangSC-Regular, sans-serif;
}
/* 以下css：共用區塊 */
.wrap {
    width: 100%;
    position: relative;
}
.container {
    max-width: 1920px;
    padding: 0 360px;
    position: relative;
    margin: 0 auto;
}
.inner-box {
    margin-bottom: 72px;
}
.box-title {
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.box-title h3 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 8px;
}
.box-title h4 {
    font-size: 24px;
    line-height: 32px;
    color: #a00404;
    margin-left: 16px;
    font-weight: 500;
}
.flex {
    display: flex;
}
.trans {
    opacity: 0;
}

/* 以下css：姓名區塊 */
.person {
    margin-bottom: 48px;
}
.name {
    padding-top: 48px;
    padding-bottom: 24px;
    margin-bottom: 48px;
    font-size: 80px;
    line-height: 90px;
    border-bottom: 2px solid #000;
}
.my-pic {
    width: 324px;
    height: 324px;
}

/* 以下css：基本資料 */
.intro li {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 100;
}
.dot {
    width: 16px;
    height: 16px;
    margin: 8px 16px;
    border-radius: 50%;
    background-color: #96a9c4;
}

/* 以下css：學歷 */
.edu li {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 100;
}
.edu ul {
    position: relative;
}
.dot-line {
    display: block;
    border-left: 1px solid #96a9c4;
    height: 80%;
    top: 10%;
    left: 24px;
    position: absolute;
}

/* 以下css：技能 */
.skill {
    width: 1200px;
    padding: 24px 102px;
    background-color: #415165;
    margin-bottom: 72px;
}
.skill .box-title,
.footer .box-title {
    border-bottom: 1px solid white;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill ul {
    margin: 0 381px;
    margin-bottom: 32px;
    padding-left: 24px;
    border-left: 1px solid white;
}

.skill .box-title h3,
.skill .box-title h4,
.footer .box-title h3,
.footer .box-title h4 {
    color: white;
}
.exp li,
.skill li,
.footer li {
    font-size: 24px;
    line-height: 32px;
    font-weight: 100;
}
.skill li {
    margin-bottom: 16px;
    color: white;
}
.bg {
    background-color: #96a9c4;
    height: 360px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* 以下css：工作經驗 */
.exp .box-title {
    margin-bottom: 22px;
}

.exp ul {
    border-left: 1px solid #96a9c4;
    padding-left: 24.5px;
    margin-left: 24.5px;
}
.exp li {
    font-weight: 600;
    margin-bottom: 32px;
}
.exp li h5 {
    margin-bottom: 8px;
}
.exp li img {
    display: block;
    width: 89.5px;
    height: 66.85px;
    margin-bottom: 8px;
}
.exp li p {
    font-weight: 100;
}

/* 以下css：footer */
.footer {
    background-color: #415165;
    padding: 24px 0;
    text-align: center;
}
.footer li {
    margin-bottom: 24px;
    color: white;
}
.social-media {
    justify-content: center;
}
.social-media img {
    width: 48px;
    height: 48px;
    margin-left: 24px;
}

.social-media img:nth-child(1) {
    margin-left: 0;
}
