<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css" />
        <link rel="stylesheet" href="./assets/style/all.css" />
    </head>

    <body>
        <div class="header container mb-3 ">
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center py-1">
                    <button class="col-4 btn d-md-none d-flex">
                        <span class="material-icons">
                            menu
                        </span>
                    </button>
                    <a href="./index.html" class="header__logo col-md-3 col-4 btn--center--lg"
                        ><img src="./assets/images/ic-logo-aloha.svg" alt="logo"
                    /></a>
                    <nav class="header__nav col-4 col-md-9">
                        <ul class="d-flex justify-content-end">
                            <li class="d-md-block d-none">
                                <div class="dropdown">
                                    <a
                                        class="btnLanguage dropdown-toggle btn--center--lg text-dark mr-6"
                                        href="#"
                                        role="button"
                                        id="dropdownMenuLink"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <span class="material-icons">
                                            language
                                        </span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">EN</a>
                                        <a class="dropdown-item" href="#">中文</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a
                                        class="dropdown-toggle btn--center--lg text-dark"
                                        href="#"
                                        role="button"
                                        id="dropdownMenuLink"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <div class="user-pic bg-user bg-cover rounded-circle mr-1"></div>

                                        <p>David Lin</p>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"></div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <%- contents %>

        <footer class="footer fixed-bottom position-pd-static">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- 這條線該下載哪區塊好 -->
                        <div class="border-bottom"></div>
                    </div>
                </div>
                <div class="row py-3 bg-white">
                    <div class="col-lg-7 col-12 d-flex align-items-center justify-content-md-between flex-md-row flex-column-reverse">
                        <p class="mr-lg-8 text-secondary text-sm">© 2020 ALOHA, Inc. All rights reserved.</p>
                        <nav>
                            <ul>
                                <li class="mb-md-0 mb-2">
                                    <a href="#" class="mr-3 text-secondary text-sm">FAQs</a>
                                    <a href="#" class="mr-3 text-secondary text-sm">Terms of use</a>
                                    <a href="#" class="mr-3 text-secondary text-sm">Privacy policy</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-5 d-none d-lg-block">
                        <ul class="footer__iconBox d-flex justify-content-end">
                            <li>
                                <div class="dropdown">
                                    <a
                                        class="btnLanguage text-dark dropdown-toggle btn--center--lg mr-6"
                                        href="#"
                                        role="button"
                                        id="dropdownMenuLink"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <span class="material-icons mr-1">
                                            language
                                        </span>
                                        <p class="text-secondary">English</p>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">EN</a>
                                        <a class="dropdown-item" href="#">中文</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a
                                        class="btnLanguage text-dark dropdown-toggle btn--center--lg mr-6"
                                        href="#"
                                        role="button"
                                        id="dropdownMenuLink"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <span class="material-icons mr-1">
                                            attach_money
                                        </span>
                                        <p class="text-secondary">TWD</p>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">TWD</a>
                                        <a class="dropdown-item" href="#">USD</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="./assets/js/vendors.js"></script>
        <script src="./assets/js/all.js"></script>
    </body>
</html>
