// 顏色
$color-pri: #650300;
$color-sec: #aa0601;
$color-dark: #111619;
$color-light: #aa06010d;

//文字大小
$title-sb: 72px;
$title-lg: 64px;
$title-md: 48px;
$title-sm: 36px;
$font-lg: 24px;
$font-md: 20px;
// 間隔
$spacer: 8;
$s-05: (0.5px * $spacer);
$s-1: (1px * $spacer);
$s-2: (2px * $spacer);
$s-3: (3px * $spacer);
$s-4: (4px * $spacer);
$s-5: (5px * $spacer);
$s-6: (6px * $spacer);
$s-7: (7px * $spacer);
$s-8: (8px * $spacer);
$s-9: (9px * $spacer);
$s-10: (10px * $spacer);
