// 本次專案的
// *{
//     outline: 1px solid red;
// }

// 字型設定：

// Title : Merriweather
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

// Text：Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.ff-title {
    font-family: 'Merriweather', serif;
    font-style: italic;
}
.ff-txt {
    font-family: 'Lato', sans-serif;
}
*{
    font-family: 'Lato', sans-serif;
}
// 基本設定

ol,
ul {
    list-style: none;
    padding-inline-start: 0px;
}
html {
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}
p,
a,
li,
label,
span,
* {
    line-height: 1.5;
}

img {
    display: block;
}

//以下是改bs4效果
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    //改bs4
}
a:hover {
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
ol,
ul {
    margin-bottom: 0;
}

// 共用class

.pageTitle {
    font-size: 24px;
    margin-right: 47px;
}
