.homeBanner {
    background-image: url(../img/index/68.png);
    .container {
        height: 840px;
        align-items: flex-end;
        justify-content: center;
        .title-lg,
        .title-sm {
            color: $color-pri;
            @include fw-md;
        }
    }
}
.homeAbout {
    background-color: $color-light;
    .container {
        align-items: center;
    }
    .title-md {
        margin-bottom: 44px;
        color: $color-pri;
        @include fw-si;
        @include pad-width {
            margin-bottom: $s-4;
        }
    }
}
.homeAbout__list {
    justify-content: space-between;
    li {
        align-items: center;
        padding: 16px 37px 0px;
        width: calc(25% - 18px);
        h5 {
            font-size: $font-lg;
            color: $color-pri;
            margin-bottom: $s-05;
        }
    }
    .icon {
        width: 100px;
        height: 100px;
        margin-bottom: $s-5;
        img {
            width: 100%;
        }
    }
    @include pad-width {
        flex-wrap: wrap;
        li {
            width: calc(50% - 12px);
            padding-bottom: $s-1;
            margin-bottom: 12px;
        }
        h5 {
            font-size: $font-md;
            margin-bottom: $s-1;
        }
        .icon {
            width: 80px;
            height: 80px;
            margin-bottom: $s-2;
        }
    }
}

.homeProducts {
    .container {
        padding-bottom: $s-4;
        @include pad-width {
            padding-bottom: $s-5;
        }
    }
    .title-md {
        font-weight: 600;
        color: $color-pri;
        text-align: center;
        margin-bottom: 60px;
        @include pad-width {
            margin-bottom: $s-4;
        }
    }
    .glasses {
        margin-bottom: $s-4;
        flex-wrap: wrap;

        .glasses__pic {
            width: 60%;
            height: 320px;
        }
        .glasses__pic--optical {
            background-image: url(../img/index/8.png);
        }
        .glasses__pic--sunGlasses {
            background-image: url(../img/index/pic.png);
        }
        .glasses__pic--functional {
            background-image: url(../img/index/28.png);
        }
        @include nb-width {
            .glasses__pic {
                width: 50%;
            }
        }
        @include pad-width {
            margin-bottom: $s-1;
            &:last-child {
                margin-bottom: 0;
            }
            .glasses__pic {
                width: 65%;
                height: 168px;
            }
        }
    }
    .glasses:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: space-between;
        @include pad-width {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
    .upperCase {
        color: $color-pri;
        font-size: $title-md;
        align-items: center;
        margin-left: $s-3;
        font-weight: 900;
        font-style: italic;
        color: $color-sec;
        img {
            width: $s-6;
            margin-right: $s-1;
        }
        @include pad-width {
            width: calc(35% - 32px);
            margin-left: $s-4;
            font-size: 28px;
            display: flex;
            justify-content: center;
            img {
                width: $s-4;
            }
        }
    }
}
.homeCrossProducts {
    background-image: url(../img/index/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
    .container--lg {
        padding-top: $s-8;
        padding-bottom: 479px;
        .container {
            padding-top: 0;
            padding-bottom: 0;
            @include nb-width{
                padding-right: 0;
                padding-left: 0;
            }
            
        }
        @include pad-width{
            padding-bottom: 417px;
            }
    }
    .title-md {
        text-align: center;
        color: #fff;
        margin-bottom: 60px;
        @include pad-width {
            margin-bottom: $s-4;
        }
    }
}
.crossProductsBox {
    justify-content: space-between;
    margin-bottom: 60px;
    @include pad-width{
        margin-bottom: $s-5;
    }
}
.crossProduct__bm {
    width: calc(45% - 4px);
    background-image: url(../img/index/zac-wolff-2qfYizn95pk-unsplash.png);
    height: 840px;
}
.crossProductsBox__leftBox {
    width: calc(55% - 4px);
}
.crossProduct__ww {
    width: 100%;
    height: 454px;
    margin-bottom: 8px;
    background-image: url(../img/index/61.png);
}
.crossProductsBox__leftBox__innerBox {
    justify-content: space-between;
}
.crossProduct__gm {
    width: calc(15% - 4px);
    height: 378px;
    background-image: url(../img/index/24.png);
}
.crossProduct__gm--ph {
    display: none;
    background-image: url(../img/index/24.png);
}
.crossProductsBox__leftBox__innerBox__leftBox {
    width: calc(85% - 4px);
}
.crossProduct__gw {
    width: 100%;
    height: 203px;
    margin-bottom: 8px;
    background-image: url(../img/index/34.png);
}
.crossProductsBox__leftBox__innerBox__leftBox__btnBox {
    justify-content: flex-end;
}
.crossProduct__moreBtn {
    background-image: url(../img/index/5.png);
    padding: 20px 0 20px 30px;
    margin-right: 84px;
    align-items: center;
    a {
        background-color: #fff;
        font-size: $title-sb;
        color: $color-sec;
        font-weight: 900;
        padding: 5px 19px 5px 32px;
        margin-right: -84px;
        position: relative;
        p {
            margin-right: 17px;
        }
    }
}
.crossProduct__moreBtn a::before {
    content: 'MORE';
    position: absolute;
    transform: translateY(0px);
    opacity: 0;
    transition: 0.5s;
}
.crossProduct__moreBtn a:hover::before {
    content: 'MORE';
    position: absolute;
    transform: translateY(-100px);
    opacity: 0.7;
}
.crossProduct__moreBtn a::after {
    content: 'MORE';
    position: absolute;
    transform: translateY(0px);
    transition: 0.5s;
    opacity: 0;
}
.crossProduct__moreBtn a:hover::after {
    content: 'MORE';
    position: absolute;
    transform: translateY(-170px);
    opacity: 0.5;
}
@include pad-width {
    .crossProduct__bm {
        height: 367px;
        margin-right: 3px;
    }
    .crossProduct__ww {
        height: 192px;
        margin-bottom: 3px;
    }
    .crossProduct__gm {
        height: 166px;
        margin-right: 3px;
    }
    .crossProduct__gw {
        height: 89px;
        margin-bottom: 3px;
    }
    .crossProduct__moreBtn {
        padding: 8px 0px 8px 20px;
        margin-right: 47px;
        a {
            padding: 3px 10px 3px 19px;
            font-size: $s-5;
            margin-right: -47px;
            p {
                margin-right: 10px;
            }
            img {
                width: 27px;
            }
        }
    }
}
.crossSeriesList {
    justify-content: space-between;
}
.crossSeries__box {
    width: calc(50% - 15px);
    height: 592px;
    position: relative;
    a {
        font-size: 72px;
        color: $color-sec;
        font-weight: 900;
        z-index: 1;
    }
    @include pad-width{
        width: calc(50% - 12px);
        height: 280px;
        a {
            font-size: 32px;
        }
    }
}
.crossSeries__box::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
}
.crossSeries__pic--double {
    background-image: url(../img/index/14.png);
}
.crossSeries__pic--youth {
    background-image: url(../img/index/39.png);
}

.homeReview {
    margin-top: -335px;
    margin-bottom: $s-10;
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .title-md {
        margin-bottom: 60px;
        color: #fff;
    }
    @include pad-width{
        margin-top: -377px;
        .title-md {
            margin-bottom: 32px;;
        }
    }
}
.reviewList {
    justify-content: space-between;
}
.reviewBox {
    width: calc(25% - 12px);
    background-color: #fff;
    .reviewBox__pic {
        width: 100%;
        z-index: 1;
    }
    .reviewBox__textBox {
        margin-top: -1px;
        padding: 17px 16px 16px;
        border: 1px solid #dee2e6;
        .review__name {
            margin-bottom: $s-2;
            font-weight: 600;
        }
        .review__content {
            margin-bottom: $s-2;
            font-weight: 400;
        }
        .review__time {
            color: #707070;
            font-weight: 400;
        }
    }
}
@include pad-width{
    .reviewList{
        flex-wrap: wrap;
    }
    .reviewBox{
        width: calc(50% - 12px);
        margin-bottom: 24px;
    }
    .reviewBox:nth-child(3),.reviewBox:nth-child(4){
        margin-bottom: 0px;
    }
}
.homeContact {
    background-color: $color-light;
    .container {
        max-width: 792px;
        
    }
    .title-md {
        margin-bottom: $s-3;
        
    }
    p {
        margin-bottom: 20px;
    }
    @include pad-width{
        .container {
            max-width: calc(497px + 96px);
            padding-bottom: 60px;
        }
        .title-md,p {
            margin-bottom: $s-2;
        }
    }
    form {
        label {
            margin-bottom: $s-05;
        }
        input,
        textarea {
            height: 50px;
            margin-bottom: $s-2;
            font-size: 16px;
            padding: 16px;
            border: 1px solid #000;
            @include pad-width{
                margin-bottom: 12px;
            }
        }
        input::placeholder,
        textarea::placeholder {
            color: rgba(0, 0, 0, 0.1);
        }
        textarea {
            height: 136px;
        }
        // 超不會checkbox
        input[type='checkbox'] {
            width: auto;
            display: none;
        }
        input[type='checkbox'] + label {
            display: block;
            cursor: pointer;
            margin-bottom: 40px;
            @include pad-width{
                margin-bottom: $s-3;
            }
        }

        input[type='checkbox'] + label:before {
            content: '\2714';
            display: inline-block;
            vertical-align: bottom;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            border: 1px solid #000;
            color: transparent;
        }
        input[type='checkbox']:checked + label:before {
            background-color: green;
            color: white;
        }
        .button {
            margin: 0 auto;
            width: 180px;
            padding: 0;
            height: 54px;
            background-color: $color-sec;
            color: white;
            border: none;
            transition: 0.3s;
        }
        .button:hover {
            background-color: darken($color-sec, 10%);
        }
    }
}

