/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
}

.container {
  max-width: 1200;
  margin: 0 auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-05 {
  width: 5%;
}

.f-1 {
  width: 10%;
}

.f-05 {
  width: 15%;
}

.f-2 {
  width: 20%;
}

.f-25 {
  width: 25%;
}

.f-3 {
  width: 30%;
}

.f-35 {
  width: 35%;
}

.f-4 {
  width: 40%;
}

.f-45 {
  width: 5%;
}

.f-5 {
  width: 50%;
}

.f-55 {
  width: 55%;
}

.f-6 {
  width: 60%;
}

.f-65 {
  width: 65%;
}

.f-7 {
  width: 70%;
}

.f-75 {
  width: 75%;
}

.f-8 {
  width: 80%;
}

.f-85 {
  width: 85%;
}

.f-9 {
  width: 90%;
}

.f-95 {
  width: 95%;
}

.f-10 {
  width: 100%;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.title-sb {
  font-size: 72px;
}

.title-lg {
  font-size: 64px;
}

.title-md {
  font-size: 48px;
}

.title-sm {
  font-size: 36px;
}

.font-lg {
  font-size: 24px;
}

.font-md {
  font-size: 20px;
}

.upperCase {
  text-transform: uppercase;
}

.tac {
  text-align: center;
}

.color-pri {
  color: #650300;
}

.color-sec {
  color: #aa0601;
}

.color-dark {
  color: #111619;
}

.color-light {
  color: #AA06010D;
}

.mr-05 {
  margin-right: 4 px;
}

.mr-1 {
  margin-right: 8 px;
}

.mr-2 {
  margin-right: 16 px;
}

.mr-3 {
  margin-right: 24 px;
}

.mb-05 {
  margin-bottom: 4 px;
}

.mb-1 {
  margin-bottom: 8 px;
}

.mb-2 {
  margin-bottom: 16 px;
}

.mb-3 {
  margin-bottom: 24 px;
}

.mb-4 {
  margin-bottom: 32 px;
}

.boxBorder {
  border: 1px solid #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 64px 0px 80px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 64px 50px 80px;
  }
}

@media all and (max-width: 1280px) {
  .container {
    padding: 40px 48px;
  }
}

@media all and (max-width: 767px) {
  .container {
    padding: 32px 12px;
  }
}

.container--lg {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 50px;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

p,
a,
li,
label,
* {
  line-height: 1.5;
}

@media all and (max-width: 992px) {
  .title-md {
    font-size: 32px;
  }
}

@media all and (max-width: 767px) {
  .title-md {
    font-size: 24px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #aa0601;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__hamMenu {
  display: none;
}

header .header__navMenu {
  color: white;
  font-size: 20px;
}

header .header__navMenu li {
  height: 44px;
}

header .header__navMenu a {
  line-height: 44px;
}

header .header__navMenu li:not(:last-child) {
  margin-right: 64px;
}

@media all and (max-width: 992px) {
  header {
    padding: 30px 48px;
  }
  header h1 {
    width: 80px;
    height: 50px;
  }
  header h1 img {
    width: 100%;
  }
  header .header__navMenu li:not(:last-child) {
    margin-right: 40px;
  }
}

@media all and (max-width: 767px) {
  header {
    padding: 10px 15px;
    position: relative;
  }
  header .header__hamMenu {
    display: block;
    position: absolute;
    left: 15px;
  }
  header h1 {
    width: 48px;
    height: 30px;
    margin: 0 auto;
  }
  header h1 img {
    width: 100%;
  }
  header .header__navMenu {
    top: 50px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #aa0601;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 99;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  header .header__navMenu li {
    width: 100%;
    height: 60px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
  header .header__navMenu a {
    line-height: 60px;
  }
  header .header__navMenu.active {
    max-height: 240px;
  }
}

footer {
  background-color: #aa0601;
  color: white;
}

footer .container {
  padding-top: 48px;
  padding-bottom: 0;
}

@media all and (max-width: 992px) {
  footer .container {
    padding-top: 40px;
  }
}

@media all and (max-width: 767px) {
  footer .container {
    padding-top: 24px;
  }
}

footer .col-top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.footer__nav {
  margin-bottom: 18px;
}

.footer__nav li a {
  display: block;
  padding: 14px 0;
  margin-right: 48px;
}

@media all and (max-width: 992px) {
  .footer__nav li a {
    margin-right: 24px;
  }
}

.footer__nav li:last-child a {
  margin-right: 0;
}

@media all and (max-width: 767px) {
  .footer__nav {
    display: none;
  }
}

.footer__info li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.footer__info li .flex {
  width: 48px;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 12px;
}

.footer__info li img {
  width: 100%;
}

.footer__info li:last-child {
  margin-bottom: 24px;
}

@media all and (max-width: 992px) {
  .footer__info li .flex {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  .footer__info .title-sm {
    font-size: 20px;
  }
}

.footer__social__box:not(:last-child) {
  margin-right: 32px;
}

@media all and (max-width: 992px) {
  .footer__social__box {
    width: 24px;
    height: 24px;
  }
  .footer__social__box img {
    width: 100%;
  }
  .footer__social__box:not(:last-child) {
    margin-right: 24px;
  }
}

.col-bot {
  padding: 40px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.col-bot ul.flex li:not(:last-child) {
  margin-right: 62px;
}

@media all and (max-width: 992px) {
  .col-bot ul.flex li:not(:last-child) {
    margin-right: 24px;
  }
}

.col-bot .footer__logo {
  width: 80px;
}

.col-bot .footer__logo img {
  width: 100%;
}

@media all and (max-width: 992px) {
  .col-bot .footer__logo {
    position: relative;
    display: none;
  }
}

@media all and (max-width: 767px) {
  .col-bot .footer__logo {
    position: absolute;
    display: block;
    bottom: 24px;
    right: 0;
    width: 46px;
    height: 28px;
  }
}

.col-bot .footer__copy__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-bot .footer__copy__box p {
  margin-left: 118px;
}

@media all and (max-width: 992px) {
  .col-bot .footer__copy__box p {
    margin-left: 0;
  }
}

@media all and (max-width: 767px) {
  .col-bot {
    padding: 16px 0 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-bot ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-bot ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .col-bot .footer__copy__box {
    margin-bottom: 8px;
  }
}

.homeBanner {
  background-image: url(../img/index/68.png);
}

.homeBanner .container {
  height: 840px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeBanner .container .title-lg,
.homeBanner .container .title-sm {
  color: #650300;
  font-weight: 500;
}

@media all and (max-width: 767px) {
  .homeBanner .container {
    height: 394px;
  }
  .homeBanner .title-lg {
    font-size: 32px;
  }
  .homeBanner .title-sm {
    font-size: 16px;
  }
}

.homeAbout {
  background-color: #AA06010D;
}

.homeAbout .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeAbout .title-md {
  margin-bottom: 44px;
  color: #650300;
  font-weight: 600;
}

@media all and (max-width: 992px) {
  .homeAbout .title-md {
    margin-bottom: 32px;
  }
}

@media all and (max-width: 767px) {
  .homeAbout .title-md {
    margin-bottom: 12px;
  }
}

.homeAbout__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeAbout__list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 37px 0px;
  width: calc(25% - 18px);
}

.homeAbout__list li h5 {
  font-size: 24px;
  color: #650300;
  margin-bottom: 4px;
}

.homeAbout__list .icon {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

.homeAbout__list .icon img {
  width: 100%;
}

@media all and (max-width: 992px) {
  .homeAbout__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeAbout__list li {
    width: calc(50% - 12px);
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
  .homeAbout__list li h5 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .homeAbout__list .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
}

@media all and (max-width: 767px) {
  .homeAbout__list li {
    width: 100%;
    padding: 20px 64px 8px;
    margin-bottom: 0;
  }
}

.homeProducts .container {
  padding-bottom: 32px;
}

@media all and (max-width: 992px) {
  .homeProducts .container {
    padding-bottom: 40px;
  }
}

@media all and (max-width: 767px) {
  .homeProducts .container {
    padding: 24px 12px;
  }
}

.homeProducts .title-md {
  font-weight: 600;
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}

@media all and (max-width: 992px) {
  .homeProducts .title-md {
    margin-bottom: 32px;
  }
}

@media all and (max-width: 767px) {
  .homeProducts .title-md {
    margin-bottom: 16px;
  }
}

.homeProducts .glasses {
  position: relative;
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homeProducts .glasses .glasses__pic {
  width: 60%;
  height: 320px;
}

.homeProducts .glasses .glasses__pic--optical {
  background-image: url(../img/index/8.png);
}

.homeProducts .glasses .glasses__pic--sunGlasses {
  background-image: url(../img/index/pic.png);
}

.homeProducts .glasses .glasses__pic--functional {
  background-image: url(../img/index/28.png);
}

@media all and (max-width: 1280px) {
  .homeProducts .glasses .glasses__pic {
    width: 50%;
  }
}

@media all and (max-width: 992px) {
  .homeProducts .glasses {
    margin-bottom: 8px;
  }
  .homeProducts .glasses:last-child {
    margin-bottom: 0;
  }
  .homeProducts .glasses .glasses__pic {
    width: 65%;
    height: 168px;
  }
}

@media all and (max-width: 767px) {
  .homeProducts .glasses .glasses__pic {
    width: 100%;
    height: 134px;
  }
}

.glasses:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 992px) {
  .glasses:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.upperCase {
  color: #650300;
  font-size: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
  font-weight: 900;
  font-style: italic;
  color: #aa0601;
}

.upperCase img {
  width: 48px;
  margin-right: 8px;
}

@media all and (max-width: 992px) {
  .upperCase {
    width: calc(35% - 32px);
    margin-left: 32px;
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .upperCase img {
    width: 32px;
  }
}

@media all and (max-width: 767px) {
  .upperCase {
    color: #fff;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
  }
  .upperCase img {
    -webkit-filter: brightness(500);
            filter: brightness(500);
  }
}

.homeCrossProducts {
  background-image: url(../img/index/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
}

.homeCrossProducts .container--lg {
  padding-top: 64px;
  padding-bottom: 479px;
}

.homeCrossProducts .container--lg .container {
  padding-top: 0;
  padding-bottom: 0;
}

@media all and (max-width: 1280px) {
  .homeCrossProducts .container--lg .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media all and (max-width: 992px) {
  .homeCrossProducts .container--lg {
    padding-bottom: 417px;
  }
}

@media all and (max-width: 767px) {
  .homeCrossProducts .container--lg {
    padding-bottom: 189px;
  }
}

.homeCrossProducts .title-md {
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

@media all and (max-width: 992px) {
  .homeCrossProducts .title-md {
    margin-bottom: 32px;
  }
}

.crossProductsBox {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

@media all and (max-width: 992px) {
  .crossProductsBox {
    margin-bottom: 40px;
  }
}

.crossProduct__bm {
  width: calc(45% - 4px);
  background-image: url(../img/index/zac-wolff-2qfYizn95pk-unsplash.png);
  height: 840px;
}

.crossProductsBox__leftBox {
  width: calc(55% - 4px);
}

.crossProduct__ww {
  width: 100%;
  height: 454px;
  margin-bottom: 8px;
  background-image: url(../img/index/61.png);
}

.crossProductsBox__leftBox__innerBox {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crossProduct__gm {
  width: calc(15% - 4px);
  height: 378px;
  background-image: url(../img/index/24.png);
}

.crossProduct__gm--ph {
  display: none;
  background-image: url(../img/index/24.png);
}

.crossProductsBox__leftBox__innerBox__leftBox {
  width: calc(85% - 4px);
}

.crossProduct__gw {
  width: 100%;
  height: 203px;
  margin-bottom: 8px;
  background-image: url(../img/index/34.png);
}

.crossProductsBox__leftBox__innerBox__leftBox__btnBox {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.crossProduct__moreBtn {
  background-image: url(../img/index/5.png);
  padding: 20px 0 20px 30px;
  margin-right: 84px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crossProduct__moreBtn a {
  background-color: #fff;
  font-size: 72px;
  color: #aa0601;
  font-weight: 900;
  padding: 5px 19px 5px 32px;
  margin-right: -84px;
  position: relative;
}

.crossProduct__moreBtn a p {
  text-transform: uppercase;
  margin-right: 17px;
}

.crossProduct__moreBtn a::before {
  content: 'MORE';
  position: absolute;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.crossProduct__moreBtn a:hover::before {
  content: 'MORE';
  position: absolute;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0.7;
}

@media all and (max-width: 992px) {
  .crossProduct__moreBtn a:hover::before {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}

@media all and (max-width: 767px) {
  .crossProduct__moreBtn a:hover::before {
    -webkit-transform: translateY(-36px);
            transform: translateY(-36px);
  }
}

.crossProduct__moreBtn a::after {
  content: 'MORE';
  position: absolute;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.crossProduct__moreBtn a:hover::after {
  content: 'MORE';
  position: absolute;
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
  opacity: 0.5;
}

@media all and (max-width: 992px) {
  .crossProduct__moreBtn a:hover::after {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
}

@media all and (max-width: 767px) {
  .crossProduct__moreBtn a:hover::after {
    -webkit-transform: translateY(-72px);
            transform: translateY(-72px);
  }
}

@media all and (max-width: 992px) {
  .crossProduct__bm {
    height: 367px;
    margin-right: 3px;
  }
  .crossProduct__ww {
    height: 192px;
    margin-bottom: 3px;
  }
  .crossProduct__gm {
    height: 166px;
    margin-right: 3px;
  }
  .crossProduct__gw {
    height: 89px;
    margin-bottom: 3px;
  }
  .crossProduct__moreBtn {
    padding: 8px 0px 8px 20px;
    margin-right: 47px;
  }
  .crossProduct__moreBtn a {
    padding: 3px 10px 3px 19px;
    font-size: 40px;
    margin-right: -47px;
  }
  .crossProduct__moreBtn a p {
    margin-left: 0;
    margin-right: 10px;
  }
  .crossProduct__moreBtn a img {
    width: 27px;
  }
}

@media all and (max-width: 767px) {
  .crossProduct__bm {
    height: 226px;
    margin-right: 2px;
  }
  .crossProduct__ww {
    height: 81px;
    margin-bottom: 2px;
  }
  .crossProduct__gm {
    display: none;
  }
  .crossProductsBox__leftBox__innerBox__leftBox {
    width: 100%;
  }
  .crossProduct__gw {
    height: 42px;
    margin-bottom: 2px;
  }
  .crossProductsBox__leftBox__innerBox__leftBox__btnBox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .crossProduct__gm--ph {
    display: block;
    width: 20%;
    height: 99px;
    margin-right: 2px;
  }
  .crossProduct__moreBtn {
    padding: 8px 0px 8px 20px;
    margin-right: 33px;
  }
  .crossProduct__moreBtn a {
    padding: 3px 12px 3px 14px;
    font-size: 26px;
    margin-right: -33px;
  }
  .crossProduct__moreBtn a p {
    margin-right: 8px;
  }
  .crossProduct__moreBtn a img {
    width: 27px;
  }
}

.crossSeriesList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crossSeries__box {
  width: calc(50% - 15px);
  height: 592px;
  position: relative;
}

.crossSeries__box .upperCase {
  font-size: 72px;
  color: #aa0601;
  font-weight: 900;
  z-index: 1;
  margin-left: 0;
}

@media all and (max-width: 992px) {
  .crossSeries__box {
    width: calc(50% - 12px);
    height: 280px;
  }
  .crossSeries__box .upperCase {
    font-size: 32px;
  }
}

@media all and (max-width: 767px) {
  .crossSeriesList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .crossSeries__box {
    width: 100%;
    height: 284px;
    margin-bottom: 20px;
  }
}

.crossSeries__box::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
}

.crossSeries__pic--double {
  background-image: url(../img/index/14.png);
}

.crossSeries__pic--youth {
  background-image: url(../img/index/39.png);
}

.homeReview {
  margin-top: -335px;
  margin-bottom: 80px;
}

.homeReview .container {
  padding-top: 0;
  padding-bottom: 0;
}

.homeReview .title-md {
  margin-bottom: 60px;
  color: #fff;
}

@media all and (max-width: 992px) {
  .homeReview {
    margin-top: -377px;
  }
  .homeReview .title-md {
    margin-bottom: 32px;
  }
}

@media all and (max-width: 767px) {
  .homeReview {
    margin-top: -165px;
    margin-bottom: 24px;
  }
  .homeReview .title-md {
    margin-bottom: 16px;
  }
}

.reviewList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviewBox {
  width: calc(25% - 12px);
  background-color: #fff;
}

.reviewBox .reviewBox__pic {
  width: 100%;
  z-index: 1;
}

.reviewBox .reviewBox__textBox {
  margin-top: -1px;
  padding: 17px 16px 16px;
  border: 1px solid #dee2e6;
}

.reviewBox .reviewBox__textBox .review__name {
  margin-bottom: 16px;
  font-weight: 600;
}

.reviewBox .reviewBox__textBox .review__content {
  margin-bottom: 16px;
  font-weight: 400;
}

.reviewBox .reviewBox__textBox .review__time {
  color: #707070;
  font-weight: 400;
}

@media all and (max-width: 992px) {
  .reviewList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reviewBox {
    width: calc(50% - 12px);
    margin-bottom: 24px;
  }
  .reviewBox:nth-child(3),
  .reviewBox:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media all and (max-width: 767px) {
  .reviewBox {
    width: calc(100%);
    margin-bottom: 16px;
  }
}

.homeContact {
  background-color: #AA06010D;
}

.homeContact .container {
  max-width: 792px;
}

.homeContact .title-md {
  margin-bottom: 24px;
}

.homeContact p {
  margin-bottom: 20px;
}

@media all and (max-width: 992px) {
  .homeContact .container {
    max-width: calc(497px + 96px);
    padding-bottom: 60px;
  }
  .homeContact .title-md,
  .homeContact p {
    margin-bottom: 16px;
  }
}

@media all and (max-width: 767px) {
  .homeContact .container {
    padding: 24px 24px 48px;
  }
}

.homeContact form label {
  margin-bottom: 4px;
}

.homeContact form input,
.homeContact form textarea {
  height: 50px;
  margin-bottom: 16px;
  font-size: 16px;
  padding: 16px;
  border: 1px solid #000;
}

@media all and (max-width: 992px) {
  .homeContact form input,
  .homeContact form textarea {
    margin-bottom: 12px;
  }
}

.homeContact form input::-webkit-input-placeholder,
.homeContact form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.homeContact form input:-ms-input-placeholder,
.homeContact form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.homeContact form input::-ms-input-placeholder,
.homeContact form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.homeContact form input::placeholder,
.homeContact form textarea::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.homeContact form textarea {
  height: 136px;
}

.homeContact form input[type='checkbox'] {
  width: auto;
  display: none;
}

.homeContact form input[type='checkbox'] + label {
  display: block;
  cursor: pointer;
  margin-bottom: 40px;
}

@media all and (max-width: 992px) {
  .homeContact form input[type='checkbox'] + label {
    margin-bottom: 24px;
  }
}

.homeContact form input[type='checkbox'] + label:before {
  content: '\2714';
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border: 1px solid #000;
  color: transparent;
}

.homeContact form input[type='checkbox']:checked + label:before {
  background-color: green;
  color: white;
}

.homeContact form .button {
  margin: 0 auto;
  width: 180px;
  padding: 0;
  height: 54px;
  background-color: #aa0601;
  color: white;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.homeContact form .button:hover {
  background-color: #770401;
}

@media all and (max-width: 767px) {
  .homeContact form input,
  .homeContact form textarea {
    padding: 7px 12px;
  }
  .homeContact form .button {
    height: 36px;
    width: 136px;
  }
}

.productsNav {
  max-width: 1200px;
  margin: 0 auto;
}

.productsNav__btn {
  width: 33.333%;
  height: 103px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.productsNav__btn a {
  font-size: 42px;
  color: #000;
  font-weight: 900;
}

.productsNav__btn.active::after {
  content: '';
  width: 100%;
  height: 16px;
  background-color: #aa0601;
  position: absolute;
  bottom: 0;
}

.productsNav__btn .productsNav__btn__icon {
  height: 48px;
  margin-right: 8px;
}

.productsNav__btn .productsNav__btn__icon img {
  height: 100%;
}

@media all and (max-width: 992px) {
  .productsNav__btn a {
    font-size: 28px;
  }
  .productsNav__btn.active::after {
    height: 8px;
  }
  .productsNav__btn .productsNav__btn__icon {
    height: 32px;
  }
}

@media all and (max-width: 767px) {
  .productsNav__btn {
    height: 35px;
  }
  .productsNav__btn a {
    font-size: 14px;
  }
  .productsNav__btn.active::after {
    height: 1px;
  }
  .productsNav__btn .productsNav__btn__icon {
    height: 15px;
    margin-right: 5px;
  }
}

.products__TopBanner {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 88px;
}

@media all and (max-width: 992px) {
  .products__TopBanner {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 767px) {
  .products__TopBanner {
    margin-bottom: 24px;
  }
}

.topBanner__box {
  width: calc(50% - 12px);
  height: 309px;
}

@media all and (max-width: 767px) {
  .topBanner__box {
    width: 50%;
    height: 144px;
  }
}

.topBanner__box--left {
  background-image: url(../img/product_op/2.png);
}

.topBanner__box--right {
  background-image: url(../img/product_op/11.png);
}

.products__showRoom .container {
  padding-top: 0;
  padding-bottom: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 992px) {
  .products__showRoom .container {
    padding-bottom: 104px;
  }
}

@media all and (max-width: 767px) {
  .products__showRoom .container {
    padding-bottom: 56px;
  }
}

.products__showRoom .showRoom__title--en {
  font-size: 42px;
  font-weight: bold;
}

.products__showRoom .showRoom__title--cn {
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 48px;
}

@media all and (max-width: 992px) {
  .products__showRoom .showRoom__title--en {
    font-size: 32px;
  }
  .products__showRoom .showRoom__title--cn {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

@media all and (max-width: 767px) {
  .products__showRoom .showRoom__title--en {
    font-size: 20px;
  }
  .products__showRoom .showRoom__title--cn {
    font-size: 16px;
    margin-bottom: 20;
  }
}

.showRoom__list--optical {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showRoom__list--optical .showRoom__list__box {
  width: calc(25% - 18px);
}

.showRoom__list--optical .showRoom__list__box .product--pic {
  height: 164px;
  width: 100%;
  background-image: url(../img/product_op/16.png);
}

@media all and (max-width: 992px) {
  .showRoom__list--optical .showRoom__list__box {
    width: calc(50% - 12px);
  }
}

@media all and (max-width: 767px) {
  .showRoom__list--optical .showRoom__list__box {
    width: 100%;
  }
  .showRoom__list--optical .showRoom__list__box .product--pic {
    height: 164px;
  }
}

.showRoom__list--optical .showRoom__list__box:nth-child(-n + 8) {
  margin-bottom: 104px;
}

@media all and (max-width: 992px) {
  .showRoom__list--optical .showRoom__list__box:nth-child(-n + 10) {
    margin-bottom: 72px;
  }
}

@media all and (max-width: 767px) {
  .showRoom__list--optical .showRoom__list__box:nth-child(-n + 11) {
    margin-bottom: 32px;
  }
}

.showRoom__list--optical .list__box__textBox {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}

.showRoom__list--optical .list__box__textBox .product--name {
  font-size: 24px;
  line-height: 1.5;
}

.showRoom__list--optical .list__box__textBox .product--price {
  font-size: 24px;
  color: #aa0601;
  font-weight: 600;
}

@media all and (max-width: 767px) {
  .showRoom__list--optical .list__box__textBox {
    margin: 0;
  }
  .showRoom__list--optical .list__box__textBox .product--name {
    font-size: 16px;
  }
  .showRoom__list--optical .list__box__textBox .product--price {
    font-size: 16px;
  }
}

.showRoom__list--optical .product--color--box {
  width: 24px;
  height: 24px;
  border-radius: 10%;
}

.showRoom__list--optical .product--color--box:not(:last-child) {
  margin-right: 8px;
}

@media all and (max-width: 767px) {
  .showRoom__list--optical .product--color--box {
    width: 16px;
    height: 16px;
  }
  .showRoom__list--optical .product--color--box:not(:last-child) {
    margin-right: 5px;
  }
}

.showRoom__list--optical .bgColor--5F3E2D {
  background-color: #5f3e2d;
}

.showRoom__list--optical .bgColor--B75929 {
  background-color: #b75929;
}

.showRoom__list__pagination {
  margin-top: 88px;
  width: auto;
}

.showRoom__list__pagination a {
  display: block;
  color: black;
  width: 41px;
  height: 48px;
  text-decoration: none;
  border: 1px solid #555;
  line-height: 48px;
  text-align: center;
}

.showRoom__list__pagination a.active {
  background-color: #000;
  color: #fff;
}

.showRoom__list__pagination a:hover {
  background-color: #f2f2f2;
}

.showRoom__list__pagination a.pagination__btn--change {
  width: 81px;
}

@media all and (max-width: 992px) {
  .showRoom__list__pagination {
    margin-top: 53px;
  }
}

@media all and (max-width: 767px) {
  .showRoom__list__pagination {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=all.css.map */