// * {
//     outline: 1px solid red;
// }

// 字型設定：

// Title : Raleway
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

// Text：Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.ff-title {
    font-family: 'Raleway', sans-serif;
}
.ff-txt {
    font-family: 'Open Sans', sans-serif;
}
* {
    font-family: 'Open Sans', sans-serif;
}

ol,
ul {
    list-style: none;
    padding-inline-start: 0px;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}
p,
a,
li,
label,
span,
* {
    line-height: 1.5;
}

img {
    display: block;
}

//以下是改bs4效果
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
ol,
ul {
    margin-bottom: 0;
    list-style: none;
}
// 共用class--格線

.wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrap-fulid {
    width: 100%;
    // margin: 0 auto;
}
// .wrap-p {
//     padding: 96px 0;
// }
@include phone-width {
    .container-ph-fulid {
        padding: 0;
        max-width: 100%;
    }
}
.section-py {
    padding: 72px 0;
    @include pad-width {
        padding: 48px 0;
    }
}
.section__rowH {
    min-height: 400px;
    @include pad-width {
        min-height: auto;
    }
}
.section--H {
    min-height: 400px;
    @include pad-width {
        min-height: auto;
        padding: 24px 0;
    }
}
// 共用class

.icon-lg {
    vertical-align: middle;
    font-size: 48px;
}
.icon-md {
    vertical-align: middle;
    font-size: 24px;
}
.icon-sm {
    font-size: 18px;
}
.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}
.btn-custom-height {
    height: 56px;
}
.btn-white {
    background-color: $white;
}

.c-pagination {
    .page-link {
        color: $secondary;
        font-size: 24px;
    }
    .page-link--active {
        color: $primary;
        text-decoration: underline;
    }
}
.h-custom {
    height: 56px;
}
.bdrs-1 {
    border-radius: 1rem;
}
//共用class-顏色
.background-black {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card-textBox--overlay {
    z-index: 99;
}
// 本次修改bs4
.card-body {
    padding: 0;
}
.text-rg {
    font-size: 16px;
}
.text-sm {
    font-size: 14px;
}
.text-xs {
    font-size: 12px;
}
.text-decoration-through {
    text-decoration: line-through;
}
.icon-sm {
    font-size: 18px;
    vertical-align: middle;
}

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select,
.input-group-lg > .input-group-append {
    height: 56px;
}
.dropdown-menu--custom {
    border: none;
    box-shadow: 3px 3px #f3d42e;
    box-shadow: 0 0 10px 1px $gray-300;
}
.searchBar {
    // margin-top: -20px;
    padding: 24px 26px;
    border-radius: 8px;
}

//自製的checkbox，改bs4
.custom-checkbox {
    padding-left: 32px;
    .custom-control-input {
        width: 20px;
        height: 20px;
    }
    .custom-control-label {
        display: block;
    }
    .custom-control-label::before {
        top: 0.2rem;
        left: -32px;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid #000;
        border-radius: 4px;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $primary;
    }
    .custom-control-label::after {
        position: absolute;
        top: 1px;
        left: -34px;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        content: '';
        background: no-repeat 50% / 50% 50%;
    }
}
.custom-range {
    outline: none;
}
.custom-range--end {
    position: absolute;
    left: 0px;
    width: 100%;
}
.rowCardList{
    .rowCardLine {
        width: 100%;
        position: relative;
    }
    .rowCardLine::after {
        content: '';
        border-bottom: 1px solid $gray-300;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
.rowCard img {
    width: 255px;
    height: 175px;
    // object-fit超重要！！記起來
    object-fit: cover;

}
.custom-paginationBox {
    .pagination {
        border-radius: 0;
    }
    .page-item.disabled .page-link {
        background-color: transparent;
    }
    .page-link {
        background-color: transparent;
        border: none;
    }
    .page-item.active .page-link {
        background-color: $white;
        color: $primary;
    }
}

.custom-table {
    .rowCard__textBox {
        margin-left: -14px;
    }
    thead {
        th {
            border: 0;
        }
    }
    th {
        border: 0;
        padding: 8px 15px;
    }

    td {
        border: 0;
        padding: 8px 15px;
    }
    .rowCard {
        li {
            margin-bottom: 8px;
        }
    }
    tr.custom-table__line {
        position: relative;
    }
    tr.custom-table__line::after {
        content: '';
        border-bottom: 1px solid $gray-300;
        position: absolute;
        bottom: 0;
        right: 15px;
        left: 15px;
    }
}
