.d-block {
    display: block;
}

// 背景
.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.box-border {
    border: 1px solid #000;
}
.bg-cover-size {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
}

// 字體
.title-sb {
    font-size: $title-sb;
}
.title-lg {
    font-size: $title-lg;
}
.title-md {
    font-size: $title-md;
}
.title-sm {
    font-size: $title-sm;
}
.font-lg {
    font-size: $font-lg;
}
.font-md {
    font-size: $font-md;
}
@include pad-width {
    .title-pd-sb {
        font-size: $title-sb;
    }
    .title-pd-lg {
        font-size: $title-lg;
    }
    .title-pd-md {
        font-size: $title-md;
    }
    .title-pd-sm {
        font-size: $title-sm;
    }
    .font-pd-lg {
        font-size: $font-lg;
    }
    .font-pd-md {
        font-size: $font-md;
    }
}
@include phone-width {
    .title-ph-sb {
        font-size: $title-sb;
    }
    .title-ph-lg {
        font-size: $title-lg;
    }
    .title-ph-md {
        font-size: $title-md;
    }
    .title-ph-sm {
        font-size: $title-sm;
    }
    .font-ph-lg {
        font-size: $font-lg;
    }
    .font-ph-md {
        font-size: $font-md;
    }
}

.upperCase {
    text-transform: uppercase;
}
.tac {
    text-align: center;
}

// 字重
.fw-bk {
    font-weight: $fw-bk;
}
.fw-bd {
    font-weight: $fw-bd;
}
.fw-md {
    font-weight: $fw-md;
}
.fw-rg {
    font-weight: $fw-rg;
}
.fw-sm {
    font-weight: $fw-sm;
}

//其他工具
.mouse-pointer {
    cursor: pointer;
}
.btn--center {
    height: 36px;
    display: flex;
    align-items: center;
}
.btn--center--lg {
    height: 44px;
    display: flex;
    align-items: center;
}

.line {
    position: relative;
    &::after {
        content: '';
        border-bottom: 1px solid $gray-300;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

