.bg-specialClays {
    background-image: url('https://images.unsplash.com/photo-1473230841016-ca42011196d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
}
.bg-lessMore {
    background-image: url('https://images.unsplash.com/photo-1572725394982-fbee32027b77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-marvelousDetail {
    background-image: url('https://images.unsplash.com/photo-1541085478756-418a3402fcb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
}
.bg-tatami {
    background-image: url('https://images.unsplash.com/photo-1556207944-1e0033a54801?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80');
}
.bg-couple {
    background-image: url('https://images.unsplash.com/photo-1525973779373-015bdf68e579?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
}
.bg-brotherhood {
    background-image: url('https://images.unsplash.com/photo-1559810087-893a00a35608?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}
.bg-limdae{
    background-image: url('https://images.unsplash.com/photo-1523976714396-3ee195e3b3a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
}
.bg-kabi{
    background-image: url('https://images.unsplash.com/photo-1572003414077-38770ebec0a4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}
.bg-hana{
    background-image: url('https://images.unsplash.com/photo-1523264067855-7b9941f18ca9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
}
.bg-sumo{
    background-image: url('https://images.unsplash.com/photo-1559810087-893a00a35608?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}
.bg-shiro{
    background-image: url('https://images.unsplash.com/photo-1525973779373-015bdf68e579?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
}
.bg-baifan{
    background-image: url('https://images.unsplash.com/photo-1530006498959-b7884e829a04?ixlib=rb-1.2.1&auto=format&fit=crop&w=1566&q=80');
}
.bg-ceramic{
    background-image: url('https://images.unsplash.com/photo-1580485978276-08f3452221a7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}