.header {
    height: 77px;
    z-index: 99;
    .header__ham--white {
        display: none;
        color: white;
        @include pad-width {
            display: block;
        }
    }
    .header__logo {
        p {
            color: $dark;
        }
    }
    .header__logo--white {
        @include pad-width {
            p {
                color: white;
            }
        }
    }
}
.header__nav {
    li {
        @include s-not-last {
            margin-right: 48px;
            @include pad-width {
                display: none;
            }
        }
        a {
            height: 44px;
            @include f-cc;
        }
    }
}

footer {
    background-color: #000;
    h2 a {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
}

.subscribe {
    background-image: url('https://images.unsplash.com/photo-1580485978320-cc2bc7dcf569?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    .section__txtBox {
        h3 {
            font-size: 48px;
            @include pad-width {
                font-size: 32px;
            }
        }
    }
    input {
        height: 56px;
    }
    @include pad-width {
        input {
            background-color: transparent;
        }
    }
    .subscribe__btn {
        padding-right: 44px;
        padding-left: 44px;
    }
}
.footer__nav {
    @include pad-width {
        margin-bottom: 88px;
    }
}
.copy-right {
    @include pad-width {
        position: absolute;
        left: 15px;
        bottom: 24px;
    }
}

// .subscribe{
//     .subscribe__btn{
//         // 成功不了，最後只能用rounded-right，老師可以看看嗎？
//         border-radius:0px 5px 5px 0px;
//     }
// }
