//首頁
.header__bottom {
    margin-top: -77px;
    position: relative;
    &__txtBox {
        padding: 236px 0;
        .pageTitle {
            font-size: 48px;
            font-weight: $fw-bd;
        }
    }
    &__bg {
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-image: url('https://images.unsplash.com/photo-1557644978-f61037cfbe49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    }
    .c-btn {
        width: 40%;
    }
    @include pad-width {
        &__txtBox {
            padding-top: 188px;
            padding-bottom: 24px;
        }
        .pageTitle {
            color: white;
            text-align: center;
        }
        h5 {
            color: $light;
            text-align: center;
            margin-bottom: 108px;
        }
        .c-btn {
            width: 100%;
        }
    }
}

// 產品頁面
.brandDirector {
    background-image: url('https://images.unsplash.com/photo-1579825317824-2cc3aa33f75a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    .section--padding {
        padding: 150px 0;
    }
    .section__titleBox {
        h3 {
            font-size: 32px;
            font-weight: $fw-bd;
            line-height: 1.5;
        }
        @include pad-width {
            margin-bottom: 125px;
        }
    }
    .section__txtBox {
        p {
            font-weight: $fw-sm;
        }
        h5 {
            font-size: 24px;
        }
        a {
            font-weight: $fw-bd;
        }
    }
}

.brandConcept {
    .brandConcept__txtBox {
        height: 400px;
    }
    .bg-size {
        @include pad-width {
            height: 255px;
        }
    }
}

.product__list {
    background-color: $gray-300;
    .product__list__items {
        position: relative;
        font-size: 24px;
        @include phone-width {
            font-size: 16px;
        }
    }
    //這裡有點土砲寫法，感覺是不正確的。
    .product__list__amount {
        margin-top: 4px;
        font-size: 6px;
    }
}
.product__cardList {
    @include pad-width {
        .card-columns {
            column-count: 2;
        }
        .card__pic--sm,
        .card__pic--lg,
        .card__pic {
            height: 160px;
        }
        .card--onSale {
            order: -1;
        }
    }
}

//個別產品頁面
.productDetail__box {
    .productDetail__picBox {
        position: absolute;

        left: 0;

        top: 0;
        bottom: 0;
        @include phone-width {
            height: 360px;
        }
    }
    .productDetail__box__txtbox {
        padding-top: 64px;
        padding-bottom: 64px;
        @include phone-width {
            margin-top: 325px;
            padding: 0 30px;
        }
        .card {
            width: 100%;
            padding: 16px;
            h3 {
                font-size: 48px;
            }
            .card__price {
                text-align: right;
                color: $light;
            }
            span {
                color: $dark;
                font-size: 24px;
            }
            .card__btnBox {
                height: 56px;
            }
        }
    }
    .productDetail__concept {
        font-size: 20px;
    }
}
.mightLike {
    h3 {
        font-size: 32px;
    }
}
.card.cmb-6 {
    margin-bottom: 48px;
}
.card.cmb-pd-3 {
    margin-bottom: 24px;
}

// 產品頁面彈跳視窗

.cartList {
    height: 100%;
    .modal-dialog {
        margin: 0;
        position: absolute;
        right: 0;
        width: 540px;
        height: 100%;
        max-width: none;
    }
    .modal-content {
        padding: $s-6;
        color: $dark;
        border-radius: 0;
        height: 100%;
    }
    .modal-header {
        border-bottom: 0;
    }
    .modal-title {
        font-size: 54px;
        font-weight: $fw-bd;
        display: flex;
        align-items: flex-start;
        span {
            font-size: 32px;
            color: $primary;
        }
    }
    .cardList__itemList {
        width: 100%;
    }
    .cardList__itemList__item {
        background-color: $gray-200;
    }
    .cartList__item__name {
        font-size: 16px;
        font-weight: $fw-bd;
    }
    .cartList__item__pic {
        width: 30%;
        flex-shrink: 1;
    }
    .cartList__item__price {
        font-size: 16px;
        span {
            margin-left: $s-1;
            text-decoration: line-through;
            color: $light;
        }
    }
    .cartList__item__txtbox {
        width: 70%;
        padding: 16px;
        position: relative;
        .icon-box {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
    .cardList__txtList {
        width: 70%;
    }
    @include pad-width {
        .modal-dialog {
            width: 100%;
        }
        .modal-content {
            padding: 0;
        }
        .cardList__txtList {
            width: 100%;
        }
        .btn-group {
            .btn {
                padding: 8px;
            }
        }
    }
}
.cartInfo {
    .formGroup {
        margin: 32px 0;
        .form-title {
            font-size: 20px;
            font-weight: $fw-rg;
        }
        .form-control {
            height: 56px;
        }
        .btn-return::before {
            content: '<';
            margin: 0 $s-05;
            font-weight: $fw-rg;
        }
        .btn-submit {
            padding-right: 58px;
            padding-left: 58px;
        }
    }
}
