<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
        <link rel="stylesheet" href="./assets/style/all.css" />
        <!-- icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </head>

    <body>
        <nav class="header wrap navbar flex f-jcsb f-aic pt-3 pb-3 navbar-expand-lg navbar-light">
            <h1 class="header__logo">
                <a href="./index.html"><p class="ff-logo text-dark font-lg">CRAFTSMAN</p></a>
            </h1>
            <ul class="header__nav flex ">
                <li><a class="text-dark" href="./product.html">Product</a></li>
                <li><a class="text-dark" href="#">Blog</a></li>
                <li><a class="text-dark" href="#">Contact</a></li>
                <li>
                    <a href="#"
                        ><span class="material-icons text-dark">
                            shopping_cart
                        </span></a
                    >
                </li>
            </ul>
        </nav>

        <%- contents %>
        <section class="subscribe bg-cover">
            <div class="container-fulid">
                <div class="container">
                    <div class="row section__rowH flex f-aic">
                        <div class="col-5">
                            <div class="section__txtBox">
                                <h3 class="cmb-6 text-white">Subscribe for news and special offers!</h3>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        aria-label="Example text with button addon"
                                        aria-describedby="button-addon1"
                                    />
                                    <div class="input-group-prepend">
                                        <button
                                            class="subscribe__btn btn btn-primary rounded-right"
                                            type="button"
                                            id="button-addon1"
                                        >
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container flex f-jcsb cpt-4 cpb-4">
                <div class="flex f-aic">
                    <h2>
                        <a class="ff-logo text-white font-lg cmr-2" href="./index.html">CRAFTSMAN</a>
                    </h2>
                    <p class="text-gray-500">© 2020. All Rights Reserved.</p>
                </div>

                <ul class="flex f-aic">
                    <li class="cmr-6"><a class="text-white" href="#"> Purchase Policy</a></li>
                    <li class="cmr-6"><a class="text-white" href="#">Privacy Policy</a></li>
                    <li><a class="text-white" href="#"> Terms & Conditions</a></li>
                </ul>
            </div>
        </footer>
        <script src="./assets/js/vendors.js"></script>
        <script src="./assets/js/all.js"></script>
    </body>
</html>
