<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
        <link rel="stylesheet" href="./assets/style/all.css" />
        <!-- icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </head>

    <body>
        <nav class="header wrap navbar flex f-jcsb f-aic pt-3 pb-3 navbar-expand-lg navbar-light">
            <h1 class="header__logo">
                <a href="./index.html"><p class="ff-logo text-dark font-lg">CRAFTSMAN</p></a>
            </h1>
            <ul class="header__nav flex text-white">
                <li><a href="#">Product</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <a href="#"
                        ><span class="material-icons">
                            shopping_cart
                        </span></a
                    >
                </li>
            </ul>
        </nav>

        <%- contents %>

        <script src="./assets/js/vendors.js"></script>
        <script src="./assets/js/all.js"></script>
    </body>
</html>
